[z_calibration]
# S_OOXX
switch_offset: 0.5

# T_OOXX
# switch_offset: 0.48

[gcode_macro PLATE_READY]
variable_plate_type: "S_PEI"
# variable_plate_type: "S_GLS"
# variable_plate_type: "T_PEI"
# variable_plate_type: "T_GDP"

gcode:
    # {% set temp = ((params.BED | float / 20) | int) * 20 %}
    # {% set profile_name = "%s_%d+" | format(plate_type, temp) %}
    {% set profile_name = plate_type %}

    {% if printer.bed_mesh.profile_name == profile_name %}
        # skip
    {% elif not printer.configfile.config["bed_mesh " + profile_name] %}
        BED_MESH_CALIBRATE PROFILE={profile_name}
    {% else %}
        BED_MESH_PROFILE LOAD={profile_name}
    {% endif %}

[gcode_macro PLATE_LAYER_CHANGE]
variable_original_extrude_factor: 1.0
gcode:
    # {% if params.LAYER == "0" %}
    #   SET_GCODE_VARIABLE MACRO=PLATE_LAYER_CHANGE VARIABLE=original_extrude_factor VALUE={printer.gcode_move.extrude_factor}
    #   M221 S{ printer.gcode_move.extrude_factor * 98 | int }  ; first layer extrusion factor
    # {% elif params.LAYER == "1" %}
    #   M221 S{ original_extrude_factor * 100  | int }
    # {% endif %}