[mcu sb2040]
canbus_uuid: 850890a78bcb

# ================================
# Extruder
# --------------------------------
[extruder]
step_pin: sb2040:gpio9
dir_pin: !sb2040:gpio10
enable_pin: !sb2040:gpio7

microsteps: 32
full_steps_per_rotation: 200
##	Update Gear Ratio depending on your Extruder Type
##	Use 50:17 for Afterburner/Clockwork (BMG Gear Ratio)
##	Use 80:20 for M4, M3.1
##  Use 7.5:1 for Galileo
gear_ratio: 50:10
##	Update value below when you perform extruder calibration
##	If you ask for 100mm of filament, but in reality it is 98mm:
##	rotation_distance = <previous_rotation_distance> * <actual_extrude_distance> / 100
##  22.6789511 is a good starting point for Bondtech 5mm gears
##  34.37086 for Bondtech 8mm gears (Galileo)
# rotation_distance: 22.6789511	#Bondtech 5mm Drive Gears
rotation_distance: 22.45216159

heater_pin: sb2040:gpio6
sensor_type: Generic 3950
sensor_pin: sb2040:gpio27
min_temp: 10
max_temp: 310
max_power: 1.0
max_extrude_only_distance: 101

[tmc2209 extruder]
uart_pin: sb2040:gpio8
run_current: 0.6
interpolate: False


# ================================
# Fan Control
# --------------------------------
[heater_fan hotend_fan]
pin: sb2040:gpio14
max_power: 1.0
heater: extruder
heater_temp: 50.0
# fan_speed: 0.6

[fan]
pin: sb2040:gpio13

# [controller_fan warehouse_fan]
[fan_generic warehouse_fan]
pin: sb2040:gpio15
# stepper: extruder


# ================================
# Temperature
# --------------------------------
[temperature_sensor warehouse]
sensor_type = ATC Semitec 104GT-2
sensor_pin = sb2040:gpio26
min_temp: -50
max_temp: 350


# ================================
# ADXL 345
# --------------------------------
[adxl345]
cs_pin: sb2040:gpio1
spi_software_sclk_pin: sb2040:gpio0
spi_software_mosi_pin: sb2040:gpio3
spi_software_miso_pin: sb2040:gpio2
# axes_map: -y,-z,-x


# ================================
# Klicky Probe
# --------------------------------
# X150 Y40 Z25.1 => X150.2 Y15 Z32.2
[probe]
pin: ^sb2040:gpio28
x_offset: 0
y_offset: 0
# speed: 5
speed: 3
lift_speed: 10
samples: 3
samples_result: median
samples_tolerance: 0.008
samples_tolerance_retries: 10
activate_gcode:
    {% set PROBE_TEMP = 150 %}
    {% set MAX_TEMP = PROBE_TEMP + 5 %}
    {% set ACTUAL_TEMP = printer.extruder.temperature %}
    {% set TARGET_TEMP = printer.extruder.target %}

    {% if TARGET_TEMP > PROBE_TEMP %}
        { action_respond_info('Extruder temperature target of %.1fC is too high, lowering to %.1fC' % (TARGET_TEMP, PROBE_TEMP)) }
        M109 S{ PROBE_TEMP }
    {% else %}
        # Temperature target is already low enough, but nozzle may still be too hot.
        {% if ACTUAL_TEMP > MAX_TEMP %}
            { action_respond_info('Extruder temperature %.1fC is still too high, waiting until below %.1fC' % (ACTUAL_TEMP, MAX_TEMP)) }
            TEMPERATURE_WAIT SENSOR=extruder MAXIMUM={ MAX_TEMP }
        {% endif %}
    {% endif %}